<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Chỉnh sửa công việc</h1>
    <a href="/todoapps">Trở về danh sách công việc</a>
    <form method="POST" action="/todoapps/<%= todoapp.id %>?_method=PUT">
      <input type="text" name="title" value="<%= todoapp.title %>" />

      <button class="btn btn-info" type="submit">lưu</button>
    </form>
  </body>
</html>
